@media screen and (max-width:576px) {
    .container{
        gap: 6px;
    }
    .card{
        width: 70px;
        height: 70px;
    }

    .card__back::after{
        font-size: 1.5rem;
    }
    
    #play-btn{
        padding: 10px 1rem;
        font-size: 12px;
    }
}