@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    position: relative;
    display: grid;
    place-content: center;
    gap: 10px;
    grid-template-columns: auto auto auto auto  ;
    background-color: black;
}

.card{
    position: relative;
    width: 110px;
    height: 110px;
    transform-style: preserve-3d;
    transition: .4s linear;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #535FE6;
    border-radius: 10px;
}

.card__front, .card__back, .image-icon{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card__front{
    transform: rotateY(180deg);
}

.card__back{
    position: relative;
    border: 1px solid #535FE6;
    overflow: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.fa-dice{
    font-size: 7rem;
    margin-left: -1rem;
}

#game-over-screen{
    position: absolute;
    display: none;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.605);
}

#game-over-screen p{
    font-size: 2rem;
    color: #fff;
}

#play{
    margin: 1rem;
    padding: 10px;
    font-size: 1.4rem;
    color: #fff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px 20px;
    box-shadow: 0px 8px 10px rgba(11, 11, 11, .25);
    cursor: pointer;
}

#play:hover{
    border: 2px solid rgb(255, 196, 0);
    background-color: rgb(255, 196, 0);
}
